# Archivo de ejemplo para variables de entorno del Frontend
# Copiar este archivo como ".env" y ajustar según entorno.

# URL del backend (Ej: http://localhost:8080/api en local, o https://api.tu-dominio.com en prod)
VITE_BACKEND_API_URL=ULTRA_SECRET_BACKEND_URL_HERE
