# Archivo de ejemplo para las variables de entorno del Backend
# Copia este archivo como ".env" en esta misma carpeta y ajusta los valores para tu entorno local.
# Si estás usando docker-compose, estas variables se sobreescriben automáticamente en ese archivo.

# Configuración de Base de Datos
DB_URL=ULTRA_SECRET_DB_URL_HERE
DB_USER=ULTRA_SECRET_DB_USER_HERE
DB_PASSWORD=ULTRA_SECRET_DB_PASSWORD_HERE

# Configuración de CORS (Orígenes permitidos, separados por comas)
# En desarrollo local suele ser localhost:5173. En producción, la URL de tu frontend (ej. https://mi-app.vercel.app)
CORS_ALLOWED_ORIGINS=ULTRA_SECRET_CORS_ORIGINS_HERE
